<a href="https://colab.research.google.com/github/camilo28-Universidad/Proyecto-Inteligencia-Artificial/blob/main/Prueba.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyecto Inteligencia Artificial

###Camilo Andres Barbosa Molina

[GitHub](https://github.com/camilo28-Universidad/Proyecto-Inteligencia-Artificial/) Invitacón Enviada 

Dataset escogido: [Dataset](https://www.kaggle.com/neuromusic/avocado-prices)

#Primera Entrega

##Contexto
Es un hecho bien conocido que los Millenials AMAN las tostadas de aguacate. También es un hecho bien conocido que todos los Millenials viven en los sótanos de sus padres.

**¡Claramente, no están comprando una casa porque están comprando demasiadas tostadas de aguacate!**

Pero tal vez haya esperanza ... si un Millenial pudiera encontrar una ciudad con aguacates baratos, podría vivir el Sueño Americano del Milenio.

Tomado de : [Website](https://www.kaggle.com/neuromusic/avocado-prices)

##Contenido
La siguiente tabla representa los datos de escaneo de minoristas semanales de 2018 para el volumen minorista nacional (unidades) y el precio. Los datos de escaneo minorista provienen directamente de las cajas registradoras de los minoristas en función de las ventas minoristas reales de aguacates Hass. A partir de 2013, la siguiente tabla refleja un conjunto ampliado de datos minoristas de múltiples puntos de venta. Los informes de múltiples puntos de venta incluyen una agregación de los siguientes canales: abarrotes, misa, clubes, drogas, dólares y militares. El precio promedio (de aguacates) en la tabla refleja un costo por unidad (por aguacate), incluso cuando se venden varias unidades (aguacates) en bolsas. Los códigos de búsqueda de productos (PLU) de la tabla son solo para aguacates Hass. Otras variedades de aguacates (por ejemplo, pieles verdes) no se incluyen en esta tabla.


Tomado de : [Website](https://www.kaggle.com/neuromusic/avocado-prices)

## Importar

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

## Importar Dataset

¡Si no abre el NoteBook con el archivo .csv recuerda visitar el GitHub para obtenerlo, este se debe guardar en la carpeta sample_date!

In [ ]:
#Importar Dataser con pd.read_csv
aguacates_data = pd.read_csv('sample_data/avocado.csv',index_col=0)

In [ ]:
#Visualizar la data
aguacates_data

          Date  AveragePrice  TotalVolume  ...          type  year            region
0   2015-12-27          1.33     64236.62  ...  conventional  2015            Albany
1   2015-12-20          1.35     54876.98  ...  conventional  2015            Albany
2   2015-12-13          0.93    118220.22  ...  conventional  2015            Albany
3   2015-12-06          1.08     78992.15  ...  conventional  2015            Albany
4   2015-11-29          1.28     51039.60  ...  conventional  2015            Albany
..         ...           ...          ...  ...           ...   ...               ...
7   2018-02-04          1.63     17074.83  ...       organic  2018  WestTexNewMexico
8   2018-01-28          1.71     13888.04  ...       organic  2018  WestTexNewMexico
9   2018-01-21          1.87     13766.76  ...       organic  2018  WestTexNewMexico
10  2018-01-14          1.93     16205.22  ...       organic  2018  WestTexNewMexico
11  2018-01-07          1.62     17489.58  ...       organic  2018  WestTexNewMexico

[18249 rows x 13 columns]

In [ ]:
#Visualizar primeras  cinco filas de la data
aguacates_data.head()

         Date  AveragePrice  TotalVolume  ...          type  year  region
0  2015-12-27          1.33     64236.62  ...  conventional  2015  Albany
1  2015-12-20          1.35     54876.98  ...  conventional  2015  Albany
2  2015-12-13          0.93    118220.22  ...  conventional  2015  Albany
3  2015-12-06          1.08     78992.15  ...  conventional  2015  Albany
4  2015-11-29          1.28     51039.60  ...  conventional  2015  Albany

[5 rows x 13 columns]

##Información de columnas
* Date: la fecha de la observación
* AveragePrice: el precio medio de un solo aguacate
* type: convencional u orgánico
* year: el año
* region: la ciudad o región de la observación
* TotalVolume: número total de aguacates vendidos
* 4046: Número total de aguacates con PLU 4046 vendidos
* 4225: Número total de aguacates con PLU 4225 vendidos
* 4770: Número total de aguacates con PLU 4770 vendidos

## Análisis de datos

In [ ]:
#Averguar la cantidad de datos de Dataframe
aguacates_data.shape

(18249, 13)

In [ ]:
#Recordar comandos como loc y iloc para trabar con columnas y filas especificas
#de una DataFrame

aguacates_data.loc[:,['AveragePrice']]

    AveragePrice
0           1.33
1           1.35
2           0.93
3           1.08
4           1.28
..           ...
7           1.63
8           1.71
9           1.87
10          1.93
11          1.62

[18249 rows x 1 columns]

In [ ]:
#Otros ejemplos
aguacates_data.loc[aguacates_data.type.isin(['conventional'])]

          Date  AveragePrice  TotalVolume  ...          type  year            region
0   2015-12-27          1.33     64236.62  ...  conventional  2015            Albany
1   2015-12-20          1.35     54876.98  ...  conventional  2015            Albany
2   2015-12-13          0.93    118220.22  ...  conventional  2015            Albany
3   2015-12-06          1.08     78992.15  ...  conventional  2015            Albany
4   2015-11-29          1.28     51039.60  ...  conventional  2015            Albany
..         ...           ...          ...  ...           ...   ...               ...
7   2018-02-04          0.76   1272039.80  ...  conventional  2018  WestTexNewMexico
8   2018-01-28          0.85    957086.16  ...  conventional  2018  WestTexNewMexico
9   2018-01-21          0.84   1020913.20  ...  conventional  2018  WestTexNewMexico
10  2018-01-14          0.90    950954.60  ...  conventional  2018  WestTexNewMexico
11  2018-01-07          0.88    880266.52  ...  conventional  2018  WestTexNewMexico

[9126 rows x 13 columns]

In [ ]:
#Revisar si existen valores nulos
#De manera Global
#aguacates_data.isnull()

#Realizar valores que existen dentro de una columna especifica
# agucates_data.Date.isnull().unique()
# agucates_data.AveragePrice.isnull().unique()
# agucates_data.TotalVolume.isnull().unique()
# agucates_data.PLU4046.isnull().unique()
# agucates_data.PLU4225.isnull().unique()
# agucates_data.PLU4770.isnull().unique()
# agucates_data.TotalBags.isnull().unique()
# agucates_data.SmallBags.isnull().unique()
# agucates_data.LargeBags.isnull().unique()
# agucates_data.XLargeBags.isnull().unique()
# agucates_data.type.isnull().unique()
# agucates_data.year.isnull().unique()
# agucates_data.region.isnull().unique()


#O de forma mas profunda

aguacates_data.loc[aguacates_data.region.isnull()]

Empty DataFrame
Columns: [Date, AveragePrice, TotalVolume, PLU4046, PLU4225, PLU4770, TotalBags, SmallBags, LargeBags, XLargeBags, type, year, region]
Index: []

In [ ]:
#Es importante reconocer vales unicos en columnas como type, year y region
#aguacates_data.type.unique()
#aguacates_data.year.unique()
aguacates_data.region.unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)

In [ ]:
#Funciones como .describe permiten ver las operaciones como mean,count,std,min,max
#Para colummans como AveragePrice, TotalVolume y cada PLU
#aguacates_data.PLU4046.describe()
#aguacates_data.PLU4225.describe()
#aguacates_data.PLU4770.describe()
#aguacates_data.TotalVolume.describe()
aguacates_data.AveragePrice.describe()

count    18249.000000
mean         1.405978
std          0.402677
min          0.440000
25%          1.100000
50%          1.370000
75%          1.660000
max          3.250000
Name: AveragePrice, dtype: float64

In [ ]:
#la funcion groupby para realizar operaciones de acuerdo a una dos columnas
#aguacates_data.groupby(['Date']).AveragePrice.agg([len, min, max])
aguacates_data.groupby(['region']).AveragePrice.agg([ min, max])

                      min   max
region
Albany               0.85  2.13
Atlanta              0.62  2.75
BaltimoreWashington  0.95  2.28
Boise                0.58  2.79
Boston               0.85  2.19
BuffaloRochester     1.03  2.57
California           0.67  2.58
Charlotte            0.80  2.83
Chicago              0.70  2.30
CincinnatiDayton     0.44  2.20
Columbus             0.52  2.22
DallasFtWorth        0.65  1.90
Denver               0.60  2.16
Detroit              0.48  2.08
GrandRapids          0.77  2.73
GreatLakes           0.73  1.98
HarrisburgScranton   0.91  2.27
HartfordSpringfield  0.86  2.68
Houston              0.51  1.92
Indianapolis         0.77  2.10
Jacksonville         0.54  2.99
LasVegas             0.54  3.03
LosAngeles           0.53  2.44
Louisville           0.56  2.29
MiamiFtLauderdale    0.59  3.05
Midsouth             0.91  2.17
Nashville            0.51  2.24
NewOrleansMobile     0.58  2.32
NewYork              0.77  2.65
Northeast            0.87  2.31
NorthernNewEngland   0.95  1.96
Orlando              0.58  2.87
Philadelphia         0.91  2.45
PhoenixTucson        0.46  2.62
Pittsburgh           0.87  1.83
Plains               0.76  2.13
Portland             0.68  2.86
RaleighGreensboro    0.86  3.04
RichmondNorfolk      0.78  2.05
Roanoke              0.70  2.27
Sacramento           0.86  2.82
SanDiego             0.61  2.74
SanFrancisco         0.84  3.25
Seattle              0.70  2.96
SouthCarolina        0.69  2.21
SouthCentral         0.62  1.81
Southeast            0.62  2.33
Spokane              0.74  2.95
StLouis              0.58  2.84
Syracuse             1.03  2.44
Tampa                0.56  3.17
TotalUS              0.76  2.09
West                 0.66  2.52
WestTexNewMexico     0.52  2.93

In [ ]:
#Revisar el tipo de datos de todas las columnas y si es necesario cambiarla de tipo
aguacates_data.dtypes

#Como convertir la columna date a  tipo fecha
aguacates_data.Date = pd.to_datetime(aguacates_data['Date'])
aguacates_data.dtypes

Date            datetime64[ns]
AveragePrice           float64
TotalVolume            float64
PLU4046                float64
PLU4225                float64
PLU4770                float64
TotalBags              float64
SmallBags              float64
LargeBags              float64
XLargeBags             float64
type                    object
year                     int64
region                  object
dtype: object