<a href="https://colab.research.google.com/github/camilo28-Universidad/Proyecto-Inteligencia-Artificial/blob/main/Prueba.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyecto Inteligencia Artificial

###Camilo Andres Barbosa Molina

[GitHub](https://github.com/camilo28-Universidad/Proyecto-Inteligencia-Artificial/) Invitacón Enviada 

Dataset escogido: [Dataset](https://www.kaggle.com/neuromusic/avocado-prices)

#Primera Entrega

##Contexto
Es un hecho bien conocido que los Millenials AMAN las tostadas de aguacate. También es un hecho bien conocido que todos los Millenials viven en los sótanos de sus padres.

**¡Claramente, no están comprando una casa porque están comprando demasiadas tostadas de aguacate!**

Pero tal vez haya esperanza ... si un Millenial pudiera encontrar una ciudad con aguacates baratos, podría vivir el Sueño Americano del Milenio.

Tomado de : [Website](https://www.kaggle.com/neuromusic/avocado-prices)

##Contenido
La siguiente tabla representa los datos de escaneo de minoristas semanales de 2018 para el volumen minorista nacional (unidades) y el precio. Los datos de escaneo minorista provienen directamente de las cajas registradoras de los minoristas en función de las ventas minoristas reales de aguacates Hass. A partir de 2013, la siguiente tabla refleja un conjunto ampliado de datos minoristas de múltiples puntos de venta. Los informes de múltiples puntos de venta incluyen una agregación de los siguientes canales: abarrotes, misa, clubes, drogas, dólares y militares. El precio promedio (de aguacates) en la tabla refleja un costo por unidad (por aguacate), incluso cuando se venden varias unidades (aguacates) en bolsas. Los códigos de búsqueda de productos (PLU) de la tabla son solo para aguacates Hass. Otras variedades de aguacates (por ejemplo, pieles verdes) no se incluyen en esta tabla.


Tomado de : [Website](https://www.kaggle.com/neuromusic/avocado-prices)

## Importar

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

## Importar Dataset

¡Si no abre el NoteBook con el archivo .csv recuerda visitar el GitHub para obtenerlo, este se debe guardar en la carpeta sample_date!

In [ ]:
#Importar Dataser con pd.read_csv
aguacates_data = pd.read_csv('sample_data/avocado.csv',index_col=0)

In [ ]:
#Visualizar la data
agucates_data

In [ ]:
#Visualizar primeras  cinco filas de la data
aguacates_data.head()

##Información de columnas
* Date: la fecha de la observación
* AveragePrice: el precio medio de un solo aguacate
* type: convencional u orgánico
* year: el año
* region: la ciudad o región de la observación
* TotalVolume: número total de aguacates vendidos
* 4046: Número total de aguacates con PLU 4046 vendidos
* 4225: Número total de aguacates con PLU 4225 vendidos
* 4770: Número total de aguacates con PLU 4770 vendidos

## Análisis de datos

In [ ]:
#Averguar la cantidad de datos de Dataframe
aguacates_data.shape

In [ ]:
#Recordar comandos como loc y iloc para trabar con columnas y filas especificas
#de una DataFrame

aguacates_data.loc[:,['AveragePrice']]

In [ ]:
#Otros ejemplos
aguacates_data.loc[aguacates_data.type.isin(['conventional'])]

In [ ]:
#Revisar si existen valores nulos
#De manera Global
#aguacates_data.isnull()

#Realizar valores que existen dentro de una columna especifica
# agucates_data.Date.isnull().unique()
# agucates_data.AveragePrice.isnull().unique()
# agucates_data.TotalVolume.isnull().unique()
# agucates_data.PLU4046.isnull().unique()
# agucates_data.PLU4225.isnull().unique()
# agucates_data.PLU4770.isnull().unique()
# agucates_data.TotalBags.isnull().unique()
# agucates_data.SmallBags.isnull().unique()
# agucates_data.LargeBags.isnull().unique()
# agucates_data.XLargeBags.isnull().unique()
# agucates_data.type.isnull().unique()
# agucates_data.year.isnull().unique()
# agucates_data.region.isnull().unique()


#O de forma mas profunda

agucates_data.loc[agucates_data.region.isnull()]

In [ ]:
#Es importante reconocer vales unicos en columnas como type, year y region
#aguacates_data.type.unique()
#aguacates_data.year.unique()
aguacates_data.region.unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)

In [ ]:
#Funciones como .describe permiten ver las operaciones como mean,count,std,min,max
#Para colummans como AveragePrice, TotalVolume y cada PLU
#aguacates_data.PLU4046.describe()
#aguacates_data.PLU4225.describe()
#aguacates_data.PLU4770.describe()
#aguacates_data.TotalVolume.describe()
aguacates_data.AveragePrice.describe()

In [ ]:
#la funcion groupby para realizar operaciones de acuerdo a una dos columnas
#aguacates_data.groupby(['Date']).AveragePrice.agg([len, min, max])
aguacates_data.groupby(['region']).AveragePrice.agg([ min, max])

In [ ]:
#Revisar el tipo de datos de todas las columnas y si es necesario cambiarla de tipo
aguacates_data.dtypes

#Como convertir la columna date a  tipo fecha
aguacates_data.Date = pd.to_datetime(aguacates_data['Date'])
aguacates_data.dtypes

Date            datetime64[ns]
AveragePrice           float64
TotalVolume            float64
PLU4046                float64
PLU4225                float64
PLU4770                float64
TotalBags              float64
SmallBags              float64
LargeBags              float64
XLargeBags             float64
type                    object
year                     int64
region                  object
dtype: object